<p id="notice"><%= notice %></p>

<p>
  <b>Xcoord:</b>
  <%= @map.xcoord %>
</p>

<p>
  <b>Ycoord:</b>
  <%= @map.ycoord %>
</p>

<p>
  <b>Time:</b>
  <%= @map.time %>
</p>


<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
